/*custom css*/
/*.layout*/
.container.hero {
    padding-bottom: var(--section_padding);
}
footer.container {
    padding-top: 0;
    padding: calc(var(--section_padding) * 1.5);
}
footer.container > .row-short{
    margin-top: var(--section_padding);
}
.bg-main-color {
    background-color: var(--main_color);
}
/*hero*/
.hero {
    text-align: center;
}
.hero img {
    height: 40px;
    margin-bottom: calc(var(--hero_space)*2);
}
.hero h1 {
    display: inline-block;
    color: #000;
    font-size: 50px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: calc(var(--hero_space));
}
.hero p {
    color: var(--grey-color);
    width: 100%;
    font-size: 18px;
    display: inline-block;
    margin-bottom:calc(var(--hero_space)*3);
}
.hero .clock{
    margin-bottom: calc(var(--hero_space)*2);
}
.hero .form {
    margin-bottom: calc(var(--hero_space));
}
/*main conent*/

/*footer*/
/*
.labas {
    display: inline-block;
    width: 300px;
    background-color: darkmagenta;
    color: white;
    margin: 100px calc(50% - 150px);


    padding: 50px 30px;
    text-align: center;
    
}*/
main h2{
    display: inline-block;
    width: 100%;
    margin-bottom: var(--main_space);
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}
main p{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: var(--grey-color);
    line-height: 26px;
    margin-bottom: var(--main_space);
}
main p > a {
    color: var(--second-color);
    text-decoration: none;
}
